{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pico.min.css">
    <link rel="stylesheet" href="/styles.css">
    <title>Morph Documentation</title>
</head>

<body>
    <main class="container">
    <h1>Morph Language Guide</h1>

    <h2>How it works</h2>
    <p>todo...</p>
    {{template "functions" .}}
    </main>
</body>

</html>
{{end}}