{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/morph/pico.min.css">
    <link rel="stylesheet" href="/morph/styles.css">
    <title>Morph Documentation</title>
</head>
<body>
    <main class="container">
    <h1>Functions</h1>
    <hr>
    {{template "functions" .}}
    </main>
</body>

</html>
{{end}}