{{define "functions"}}
    {{range .Sections}}

        <h2 id="namespace_{{.Name}}">Namespace "{{.Name}}"</h2>
        {{range .FunctionSections}}

            <div class="fn-tag-contents">
            <h3 id="{{.Namespace}}_tag_{{.Tag}}">{{.Tag}} Functions:</h3>
            {{range .Functions}}
                <hr>
                <details name="function" open>
                <summary class="fn-entry-name">{{.Name}} <code class="fn-signature">{{.Signature}}</code></summary>
                <p>{{.Description}}</p>
                <p><strong>Tags:</strong> {{.JoinedTags}}</p>
                <p><strong>Params:</strong></p> 
                {{range .Args}} 
                    <div class="fn-inner-block">
                            <p class="fn-arg-text"><strong>{{.Name}}</strong></p>
                            <p class="fn-arg-text">{{.Description}}</p>
                    </div>
                {{end}}
                <p><strong>Return:</strong></p>
                <div class="fn-inner-block">
                    <p class="fn-arg-text"><strong>Description:</strong> {{.FormatReturn}}</p>
                </div>
                <p><strong>Examples:</strong></p>
                {{range .Examples}}
                    <pre>
//input
{{.In}}

//program
{{.Program}}

//output
{{.Out}}
                    </pre>
                {{end}}
                </details>
            {{end}}
            </div>

        {{end}}
    {{end}}

{{end}}